{% extends 'layout.html.twig' %}
{% set active = 'page.contact' %}


{% block stylesheets %}
    {{ parent() }}
    {% if app.debug %}
        <link rel="stylesheet" href="/css/pages.css?v={{ app['assets.css.version'] }}"
              xmlns="http://www.w3.org/1999/html">
    {% else %}
        <link rel="stylesheet" href="/css/{{ page.code }}.min.css?v={{ app['assets.css.version'] }}">
    {% endif %}
{% endblock %}


{% block content %}
    <div class="subtext question">
        Le <i>Générateur de politique de confidentialité</i> est un questionnaire. La politique qui vous est présentée ici tient compte des réponses que vous avez fournies. <u>Cette politique n'est qu'un modèle</u>. En effet, le <i>Générateur de politique de confidentialité</i> <u>n'a pas pour fonction de certifier</u> vos engagements en matière de protection des renseignements personnels. <br>
        Par conséquent, ni le recours au <i>Générateur de politique de confidentialité</i>, ni la politique qui est ici présentée <u>ne constituent un avis juridique</u>. En aucun cas, ces outils ne sauraient remplacer une expertise spécifique dans des cas particuliers. Les personnes qui sont confrontées avec un problème spécifique d'application de la loi sont invitées à consulter un avocat ou un notaire.
        <hr>

        <h1>Politique modèle de confidentialité.</h1>
        <p><strong>Introduction</strong><br>
            Devant le développement des nouveaux outils de communication, il est nécessaire de porter une attention particulière à la protection de la vie privée.
            C'est pourquoi, nous nous engageons à respecter la confidentialité des renseignements personnels que nous collectons.
        </p><hr>
        <h2>Collecte des renseignements personnels</h2>
        <p>
            Nous collectons les renseignements suivants :
        </p>
        <ul>
            <li>Nom</li>
            <li>Prénom</li>
            <li>Adresse électronique</li>
            <li>Préférences (musicales, littéraires, cinématographiques, etc.)</li>
        </ul>

        <p>
            Les renseignements personnels que nous collectons sont recueillis au travers de formulaires et grâce à
            l'interactivité établie entre vous et notre site Web.
            Nous utilisons également, comme indiqué dans la section suivante, des fichiers témoins et/ou journaux
            pour réunir des informations vous concernant.
        </p><hr>
        <h2>Formulaires&nbsp; et interactivité:</h2>
        <p>
            Vos renseignements personnels sont collectés par le biais de formulaire, à savoir :
        </p>
        <ul>
            <li>Formulaire d'inscription au site Web</li>
            <li>Concours</li>
        </ul>
        <p>
            Nous utilisons les renseignements ainsi collectés pour les finalités suivantes :
        </p>
        <ul>
            <li>Informations / Offres promotionnelles</li>
            <li>Statistiques</li>
            <li>Contact</li>
            <li>Gestion du site Web (présentation, organisation)
            </li>
        </ul>
        <p>
            Vos renseignements sont également collectés par le biais de l'interactivité pouvant s'établir entre vous et notre site Web et ce, de la façon suivante:
        </p>
        <ul>
            <li>Statistiques</li>
            <li>Contact</li>
            <li>Gestion du site Web (présentation, organisation)</li>
        </ul>
        <p>
            Nous utilisons les renseignements ainsi collectés pour les finalités suivantes :<br>
        </p>
        <ul>
            <li>Correspondance</li>
            <li>Informations ou pour des offres promotionnelles</li>
        </ul>
        <hr>
        <h2>Fichiers journaux et témoins </h2>
        <p>
            Nous recueillons certaines informations par le biais de fichiers journaux (log file) et de fichiers témoins (cookies). Il s'agit principalement des informations suivantes :
        </p>
        <ul>
            <li>Adresse IP</li>
            <li>Système d'exploitation</li>
            <li>Pages visitées et requêtes</li>
            <li>Heure et jour de connexion</li>
        </ul>

        <br>
        <p>
            Le recours à de tels fichiers nous permet :
        </p>
        <ul>
            <li>Amélioration du service et accueil personnalisé</li>
            <li>Statistique</li>
        </ul><hr>
        <h2>Droit d'opposition et de retrait</h2>
        <p>
            Nous nous engageons à vous offrir un droit d'opposition et de retrait quant à vos renseignements personnels.<br>
            Le droit d'opposition s'entend comme étant la possiblité offerte aux internautes de refuser que leurs renseignements
            personnels soient utilisées à certaines fins mentionnées lors de la collecte.<br>
        </p>
        <p>
            Le droit de retrait s'entend comme étant la possiblité offerte aux internautes de demander à ce que leurs
            renseignements personnels ne figurent plus, par exemple, dans une liste de diffusion.<br>
        </p>
        <p>
            Pour pouvoir exercer ces droits, vous pouvez : <br>
            Code postal : 47 avenue edouard vaillant, Pantin 93500<br>	Courriel : contact@kenweego.com<br>		Section du site web : www.kenweego.com/<br>	</p><hr>
        <h2>Droit d'accès</h2>
        <p>
            Nous nous engageons à reconnaître un droit d'accès et de rectification aux personnes
            concernées désireuses de consulter, modifier, voire radier les informations les concernant.<br>


            L'exercice de ce droit se fera :<br>
            Code postal : 47 avenue edouard vaillant, Pantin 93500<br>	Courriel : contact@kenweego.com<br>		Section du site web : www.kenweego.com/<br>	</p><hr>
        <h2>Sécurité</h2>
        <p>

            Les renseignements personnels que nous collectons sont conservés
            dans un environnement sécurisé. Les personnes travaillant pour nous sont tenues de respecter la confidentialité de vos informations.<br>
            Pour assurer la sécurité de vos renseignements personnels, nous avons recours aux mesures suivantes :
        </p>
        <ul>
            <li>Protocole SSL (Secure Sockets Layer)</li>
            <li>Gestion des accès - personne autorisée</li>
            <li>Gestion des accès - personne concernée</li>
            <li>Logiciel de surveillance du réseau</li>
            <li>Sauvegarde informatique</li>
            <li>Développement de certificat numérique</li>
            <li>Identifiant / mot de passe</li>
            <li>Pare-feu (Firewalls)</li>
        </ul>

        <p>
            Nous nous engageons à maintenir un haut degré de confidentialité en intégrant les dernières innovations technologiques permettant d'assurer
            la confidentialité de vos transactions. Toutefois, comme aucun mécanisme n'offre une sécurité maximale, une part de risque est toujours présente
            lorsque l'on utilise Internet pour transmettre des renseignements personnels.
        </p><hr>
       <hr>
        <h2>Législation</h2>
        <p>
            Nous nous engageons à respecter les dispositions législatives énoncées dans la loi informatique et libertés de 1978
        </p>

    </div>
{% endblock %}