{#
template for an email message sent to authorize a password reset.
variables passed to this template:
    user: the simpleuser\User instance.
    reseturl: the link to click to reset the password.
#}

{# the subject line. #}
{%- block subject -%}{%- autoescape false -%}
réinitialisation de votre mot de passe
{%- endautoescape -%}{%- endblock -%}

{# the plain text message. #}
{%- block body_text -%}{%- autoescape false -%}

réinitialisez votre mot de passe en cliquant sur le lien ci-dessous:
{{ reseturl }}


_______________________________________________________________
si vous n'avez pas demandé la réinitialisation de votre mot de passe,
vous pouvez tout simplement ignorer ce mail.

{%- endautoescape -%}{%- endblock -%}

{# the html message. optional. #}
{%- block body_html -%}

    <h1>réinitialisation de votre mot de passe</h1>

    <p>
        réinitialisez votre mot de passe en cliquant sur ce <a href="{{ reseturl }}">lien</a>.
    </p>

    <hr style="margin-top: 30px;"/>
    <p style="font-size: 13px;">
        <strong>vous n'avez pas demandé la reinitialisation de ce mail</strong>
        <br/>
        si vous n'avez pas demandé la réinitialisation de votre mot de passe,
        vous pouvez tout simplement ignorer ce mail.
    </p>

{%- endblock -%}
