<form class="form-inline" id="search-form" role="form"
      action="//kenweego.us9.list-manage.com/subscribe/post?u=599ec97b20239e0522fb1cd22&id=95a8d6faf6"
      method="post"
      name="mc-embedded-subscribe-form"
        >
    <div class="form-group form-group-material validate"
            >
        <div style="position: absolute; left: -5000px;"><input type="text"
                                                               name="b_599ec97b20239e0522fb1cd22_95a8d6faf6"
                                                               tabindex="-1" value=""></div>
        <div class="input-group">
            <div class="input-group-addon"><i class="fa fa-envelope-o"></i></div>

            <input type="email"
                   class="form-control material-input "
                   id="email-id"
                   name="EMAIL"
                   placeholder="{{ 'Your email address'| trans }}"
                   data-minLength="2"
                   autocomplete="off"
                   value="">
        </div>
    </div>

    <button class="btn btn-default btn-material-orange btn-mail-register" id="mc-embedded-subscribe">
        Go
    </button>
</form>